*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* khôi phục lại cỡ chữ mặc định theo rem */
body{
    font-size: 1.6rem ;
}
/* ====================Common==================*/
a{
    text-decoration: none;
}
.main-conten{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color:aliceblue;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius:24.5px ;
    background-color: #171100;
}
/* =================header==================== */
.header{
    background-color: #fffcf4;
}
.header.fixed{
    position: sticky;
    top: -28px;
}
.header .body-header{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display:flex ;
}
.nav a{
    color: #5f5f5f  ;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}
.nav li.active a,
.nav a:hover{
    color:#171100;
    /* font-weight: 600; */
    text-shadow:1px 0 0 currentColor ;
}
.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: " ";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}
.header .btn-sing-up{
    min-width: 114px;
}
.header .action{
    margin-left: 49px;
}